{% macro render_post(post) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ post.datetime | dateformat("%d/%m/%y") }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            <a href="{{ url_for('view_post', id=post.id) }}"</a>
            {{ post.title }}
            <a href="{{ url_for('edit_post_get', id=post.id) }}">edit</a>
            <a href="{{ url_for('delete_post_get', id=post.id) }}">delete</a>
        </h1>
        {{ post.content | safe }}
    </div>
</div>
{% endmacro %}